<section class="reactionDetails">
    <div class="reactionDetailsChild col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>{{reaction.name}}</strong></h3>
            </div>
            <div class="panel-body">
                <p>
                  id: {{reaction.id}}
                </p>
                <p>
                  name: {{reaction.name}}
                </p>
                <p>
                  reversible: {{reaction.reversible}}
                </p>
                <p>
                  model: {{reaction.model}}
                </p>
                <p>
                  annotation: {{reaction.annotation}}
                </p>
                <p>
                  sbo term:{{reaction.sboTerm}}
                </p>
                <p>
                  notes: {{reaction.notes}}
                </p>
                <h4><strong>Connected Metabolites</strong></h4>
            </div>
            <table class="table table-hover">
                <tbody>
                  
                </tbody>
            </table>
        </div>
    </div>
</section>
