<div class="row">
  <div class="col-md-12">
    <h1 class="page-header">My Profile</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <form [ngFormModel]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="form-group">
        <label for="email" class="control-label">Email</label>
        <input class="form-control" id="email" placeholder="Email" type="email" [ngFormControl]="form.controls['email']">
        <span class="text-danger" *ngIf="!form.controls['email'].valid && form.controls['email'].dirty">
          Field Required
        </span>
      </div>
      <div class="form-group">
        <label for="email" class="control-label">First Name</label>
        <input class="form-control" placeholder="First Name" type="text" [ngFormControl]="form.controls['firstName']">
        <span class="text-danger" *ngIf="!form.controls['firstName'].valid && form.controls['firstName'].dirty">
          Field Required
        </span>
      </div>
      <div class="form-group">
        <label for="email" class="control-label">Last Name</label>
        <input class="form-control" placeholder="Last Name" type="text" [ngFormControl]="form.controls['lastName']">
        <span class="text-danger" *ngIf="!form.controls['lastName'].valid && form.controls['lastName'].dirty">
          Field Required
        </span>
      </div>
      <input value="Save" type="submit" class="btn btn-info" [disabled]="!form.valid">
    </form>
  </div>
</div>
