<div class="row">
    <div class="col-md-4">
      <div class="form-group form-inline">
        <label>TSV: </label>
        <input type="file" class="form-control">
      </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-inline">
            <label>CSV: </label>
            <input type="file" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group form-inline">
            <label>JSON: </label>
            <input type="file" class="form-control">
        </div>
    </div>
</div>
