<div id="mainBox">
  <form [ngFormModel]="form" (ngSubmit)="onSubmit(form.value)">
    <img src="img/user.png">
    <div class="form-group">
      <input class="form-control" placeholder="Email" type="email" [ngFormControl]="form.controls['email']">
      <span class="text-danger" *ngIf="!form.controls['email'].valid && form.controls['email'].dirty">
        Field Required
      </span>
    </div>
    <div class="form-group">
      <input class="form-control" placeholder="Password" type="password" [ngFormControl]="form.controls['password']">
      <span class="text-danger" *ngIf="!form.controls['password'].valid && form.controls['password'].dirty">
        Field Required
      </span>
    </div>
    <input value="Login" type="submit" class="btn btn-info">
    <br>
    <a [routerLink]="['Signup']">Sign Up</a>
  </form>
</div>
