<section class="metaboliteDetails">
    <div *ngIf="metabolite" class="metaboliteDetailsChild col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>
                        {{metabolite.name}}
                    </strong>
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    id: {{metabolite.id}}
                </p>
                <p>
                    charge: {{metabolite.charge}}
                </p>
                <p>
                    formula: {{metabolite.formula}}</p>
                <p>
                    compartment: {{metabolite.compartment}}
                </p>
                <p>
                    annotation:
                </p>
                <ul>
                    <li *ngFor="#item of metabolite.annotation|keysValues">
                        <p>
                            {{item}}
                        </p>
                    </li>
                </ul>
                <br>
                <h4>
                    <strong>Reactions</strong>
                </h4>
            </div>
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>
                            <a [routerLink]="['ReactionDetails']">glyceraldehyde-3-phosphate dehydrogenase</a>
                        </td>
                        <td>
                            <strong>13dpg_c</strong> + h_c + nadh_c &#8594; g3p_c + nad_c+ pi_c</td>
                    </tr>
                    <tr>
                        <td>phosphoglycerate kinase</td>
                        <td>
                            <strong>13dpg_c</strong> + atp_c + adp_c &#8594; 3pg_c</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
