<section class="metaboliteDetails">
    <div *ngIf="metabolite" class="metaboliteDetailsChild col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <strong>
                        {{metabolite.name}}
                    </strong>
                </h3>
            </div>
            <div class="panel-body">
                <p>
                    id: {{metabolite.id}} {{metaboliteId}}
                </p>
                <p>
                    name: {{metabolite.name}}
                </p>
                <p>
                    compartment: {{metabolite.compartment}}
                </p>
                <p>
                    initial amount: {{metabolite.initialAmaout}}
                </p>
                <p>
                    charge: {{metabolite.charge}}
                </p>
                <p>
                    model: {{metabolite.model}}
                </p>
                <p>
                    species_type: {{metabolite.species_type}}
                </p>
                <p>
                    annotation: {{metabolite.annotation}}
                </p>
                <p>
                    sbo term: {{metabolite.sboTerm}}
                </p>
                <p>
                    notes: {{metabolite.notes}}
                </p>
                <br>
                <h4>
                    <strong>Connected Reactions</strong>
                </h4>
            </div>
            <table class="table table-hover">
                <tbody>
                    <tr *ngFor="let item of metabolite.participated_reactions">
                        <td>
                            <a [routerLink]="['ReactionDetails',{reactionId: item.id}]">
                              {{item.id}}
                            </a>
                        </td>
                        <td>
                            <chemical-equation [metabolites]="item.metabolites"></chemical-equation>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
